[Unit]
Description=WPA Supplicant daemon
Before=network.target
After=syslog.target

[Service]
Type=dbus
BusName=fi.epitest.hostap.WPASupplicant
EnvironmentFile=-/etc/sysconfig/wpa_supplicant.conf
ExecStart=/usr/sbin/wpa_supplicant -c /etc/wpa_supplicant.conf -u -P /var/run/wpa_supplicant.pid $INTERFACES $DRIVERS $OTHER_ARGS

[Install]
WantedBy=multi-user.target
Alias=dbus-fi.epitest.hostap.WPASupplicant.service
